/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body {
font-family:'Noto sans KR', sans-serif;
line-height: 1.5em;
margin: 0;
font-weight: 300;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
color:#222;
}

a {
text-decoration: none;
color:#222;
}
.gnb {}
.gnb a {
    position: relative;
    padding-bottom: 5px;
}
.gnb a:before {
    content: '';
    position:absolute; /*befor 는 inline 요소로 크기값을 갖을 수 없음.*/
    background-color: crimson;
    height: 2px;
    width: 0%;
    bottom: 0;
    transition: 0.3s;
    left: 0%;
    /* transform: translateX(-50%); */
}

.gnb a:hover:before {
    /* left: calc(100% - 4px); */
    /* width: 100%; */
}
