/* .heading {
    border: 1px solid red;
    width: 300px;
    text-align: center;
    padding: 50px 100px 200px 300px;
} */
    /* margin =  보더 밖의 공간*/
    /* padding = 텍스트와 보더 사이의 거리*/

/* .box {
    font-size: 50px;
    text-align: center;
    border: 10px solid red;
    width: 400px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
} */

.box {
    border: 1px solid red;
    width: 600px;
}
.box div {
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    float:left;
    box-sizing: border-box;
}