body {
    font-family: 'Raleway' , sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading {}
.loading span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    animation: loading 1s linear infinite; 
    /* linear: keyframes 에서 keyframes 넘어갈때 부드럽게 넘어갈 수 있도록 함.
     infinite: 무한반복 */
}
.loading span:nth-child(1) {
    animation-delay: 0s;
    background-color: darkgreen;
}
.loading span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: yellowgreen;
}
.loading span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: rgb(195, 252, 195);
}

@keyframes loading {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}